<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<div>
  <!-- Show Record button when not recording and no blob -->
  @if (!isRecording && !blobUrl) {
    <ion-button (click)="startRecording()">
      Record
    </ion-button>
  }

  <!-- Show Stop button when recording -->
  @if (isRecording && !blobUrl) {
    <ion-button (click)="stopRecording()">
      Stop
    </ion-button>
  }

  <!-- Show playback when done recording -->
  @if (isRecording && blobUrl) {
    <div>{{ recordedTime }}</div>

  }
  <div>
  @if (!isRecording && blobUrl) {
    <audio controls>
      <source [src]="blobUrl" type="audio/webm" />
    </audio>
  }
</div>
</div>
</ion-content>
