<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- src/app/voice-timeline/voice-timeline.component.html -->
<div>
  <h2>Voice Timeline</h2>

  <ion-button (click)="startRecording()" [disabled]="recorderService.isRecording">
    Start Recording
  </ion-button>
  <ion-button (click)="stopRecording()" [disabled]="!recorderService.isRecording">
    Stop Recording
  </ion-button>

 <h3>Timeline</h3>
  @for (post of posts; let i = $index; track post) {
    <div>
      <ion-range >
      <audio [src]="post" controls></audio>
      </ion-range>
    </div>
    <ion-button (click)="playRecording(i)">
        Play Recording
      </ion-button>
  }
</div>
</ion-content>
