<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- src/app/voice-timeline/voice-timeline.component.html -->
<div>
  <h2>🎙 Voice Timeline</h2>

  <button (click)="startRecording()" [disabled]="recorderService.isRecording">
    Start Recording
  </button>
  <button (click)="stopRecording()" [disabled]="!recorderService.isRecording">
    Stop Recording
  </button>

 <h3>Timeline</h3>
  @for (post of posts; track post) {
    <div>
      <audio [src]="post" controls></audio>
    </div>
  }
</div>
</ion-content>
